body{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
header{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;
	justify-content:center;
	margin-top:2vw;
}
footer{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;
	justify-content:center;
	margin-top:2vw;
}

#ejercicio{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;
    border:solid;
    margin-top:1vw;
}